@page "/pdf-generator"
@inject PdfService PdfService
@inject IJSRuntime JS

<h3 class="title">Generate a PDF</h3>

<EditForm Model="this" class="form-container">
    <div class="form-group w-100">
        <label>Title:</label>
        <InputText @bind-Value="headerInput" placeholder="Enter Title" class="input-field w-100" />
    </div>

    <div class="form-group">
        <label>Paragraph 1:</label>
        <textarea @bind="paragraph1Input" placeholder="Enter first paragraph" class="input input-field w-100" rows="5"></textarea>
        <div class="checkbox-group">
            <col-3>
                <label><InputCheckbox @bind-Value="isParagraph1Bold" /> Bold</label>
            </col-3>
            <col-3>
                <label><InputCheckbox @bind-Value="isParagraph1Italic" /> Italic</label>
            </col-3>
            <col-6>
                <label>Text Size</label>
                <InputNumber @bind-Value="paragraph1FontSize" class="input-number" />
            </col-6>
            
            
        </div>
    </div>

    <div class="form-group">
        <label>Paragraph 2:</label>
        <textarea @bind="paragraph2Input" placeholder="Enter second paragraph" class="input input-field w-100" rows="5"></textarea>
        <div class="checkbox-group">
            <col-3>
                <label><InputCheckbox @bind-Value="isParagraph2Bold" /> Bold</label>
            </col-3>
            <col-3>
                <label><InputCheckbox @bind-Value="isParagraph2Italic" /> Italic</label>
            </col-3>
            <col-6>
                <label>Text Size</label>
                <InputNumber @bind-Value="paragraph2FontSize" class="input-number" />
            </col-6>
            
        </div>
    </div>

    <button type="button" @onclick="GeneratePdf" class="btn btn-primary col-6 offset-3 btn-generate">Generate and Download PDF</button>
</EditForm>

@code {
    private string headerInput = string.Empty;
    private string paragraph1Input = string.Empty;
    private bool isParagraph1Bold = false;
    private bool isParagraph1Italic = false;
    private int paragraph1FontSize = 12;

    private string paragraph2Input = string.Empty;
    private bool isParagraph2Bold = false;
    private bool isParagraph2Italic = false;
    private int paragraph2FontSize = 12;

    private async Task GeneratePdf()
    {
        var pdfBytes = PdfService.GeneratePdf(headerInput, paragraph1Input, paragraph2Input, isParagraph1Bold, isParagraph1Italic, paragraph1FontSize, isParagraph2Bold, isParagraph2Italic, paragraph2FontSize);
        await JS.InvokeVoidAsync("BlazorDownloadFile", "generated-document.pdf", "application/pdf", pdfBytes);
    }
}
